* {
    font-family: roboto;
}

body,
html {
    overflow-x: hidden;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.phrase {
    transition:all 1s ease;
    margin-bottom: 50px;
    font-style: 45px;
}
