.chart {
    position: relative;
    height: 300px;
    width: 500px;
}

hr{
    height: 3px;
    border: none;
}

.hr_level {
    background: rgb(223, 162, 115);
    background: linear-gradient(
        45deg,
        rgba(223, 162, 115, 1) 0%,
        rgba(195, 185, 30, 0.969625350140056) 50%,
        rgba(251, 199, 52, 1) 100%
    );
}

.hr_temperature {
    background: rgb(115, 223, 176);
    background: linear-gradient(
        45deg,
        rgba(115, 223, 176, 1) 0%,
        rgba(30, 195, 135, 0.969625350140056) 50%,
        rgba(52, 251, 145, 1) 100%
    );
}

.chart_title__level {
    background: -webkit-linear-gradient(
        45deg,
        rgba(115, 177, 223, 1) 0%,
        rgba(30, 161, 195, 0.969625350140056) 51%,
        rgba(52, 116, 251, 1) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chart_title__temperature {
    background: -webkit-linear-gradient(
        45deg,
        rgba(223, 162, 115, 1) 0%,
        rgba(195, 185, 30, 0.969625350140056) 50%,
        rgba(251, 199, 52, 1) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.chart_title__humidity {
    background: -webkit-linear-gradient(
        45deg,
        rgba(115, 223, 176, 1) 0%,
        rgba(30, 195, 135, 0.969625350140056) 50%,
        rgba(52, 251, 145, 1) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
