.water {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(12deg) brightness(102%) contrast(102%);
    margin-right: 6px;
}

.river {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(12deg) brightness(102%) contrast(102%);
    margin-right: 6px;
}

.ph {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(12deg) brightness(102%) contrast(102%);
    margin-right: 6px;
}
