.warning {
    background: rgb(247, 88, 48);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    transition:all 1s ease;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 210px;
    left: 450px;
}

@keyframes warning-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

.warning-blink {
  -webkit-animation: warning-blink 1s linear infinite;
  -moz-animation: warning-blink 1s linear infinite;
  -ms-animation: warning-blink 1s linear infinite;
  -o-animation: warning-blink 1s linear infinite;
  animation: warning-blink 1s linear infinite;
}
