.warning {
    background: rgb(241, 118, 87);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    transition:all 1s ease;
    cursor: pointer;
    color: white;
}

@keyframes warning-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

.warning-blink {
  -webkit-animation: warning-blink 1.2s linear infinite;
  -moz-animation: warning-blink 1.2s linear infinite;
  -ms-animation: warning-blink 1.2s linear infinite;
  -o-animation: warning-blink 1.2s linear infinite;
  animation: warning-blink 1.2s linear infinite;
}
