.img_alert {
  margin-bottom: 3px;
  margin-right: 3px;
}

.alert_text {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 27px;
  color: #e14041;
}

.alert_content {
  position: relative;
  bottom: 25px;
}

@keyframes warning-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

.warning-blink {
  -webkit-animation: warning-blink 1.2s linear infinite;
  -moz-animation: warning-blink 1.2s linear infinite;
  -ms-animation: warning-blink 1.2s linear infinite;
  -o-animation: warning-blink 1.2s linear infinite;
  animation: warning-blink 1.2s linear infinite;
}
